<div class="index-pattern-name">
  <h1 class="title" css-truncate>
    <i aria-hidden="true" ng-if="defaultIndex === indexPattern.id" class="fa fa-star"></i>
    {{indexPattern.id}}
  </h1>
  <div class="controls">
    <button
      ng-if="setDefault"
      ng-click="setDefault()"
      tooltip="设置为默认索引"
      class="btn btn-success">
      <span class="sr-only">设置为默认索引</span>
      <i aria-hidden="true" class="fa fa-star"></i>
    </button>
    <button
      ng-if="refreshFields"
      confirm-click="refreshFields()"
      confirmation="这将重置常见字段的计数器，您确定要重新载入字段吗？"
      tooltip="刷新字段列表"
      class="btn btn-warning">
      <span class="sr-only">刷新字段列表</span>
      <i aria-hidden="true" class="fa fa-refresh"></i>
    </button>
    <button
      ng-if="delete"
      confirm-click="delete()"
      aria-label="删除索引模型"
      confirmation="您确定要移除此索引模型吗？"
      tooltip="删除索引模型"
      class="btn btn-danger">
      <span class="sr-only">Remove index pattern</span>
      <i aria-hidden="true" class="fa fa-trash"></i>
    </button>
  </div>
</div>
