<div class="form-group">
  <label>Type</label>
  <select
    ng-model="editor.formatParams.type"
    ng-options="type.id as type.name for type in editor.field.format.type.urlTypes"
    class="form-control">
  </select>
</div>

<div class="form-group">
  <span class="pull-right text-info hintbox-label" ng-click="editor.showUrlTmplHelp = !editor.showUrlTmplHelp">
    <i class="fa fa-info"></i> Url 模板说明
  </span>

  <label>Url 模板</label>
  <div class="hintbox" ng-if="editor.showUrlTmplHelp">
    <h4 class="hintbox-heading">
      <i class="fa fa-question-circle text-info"></i> Url 模板说明
    </h4>

    <p>
      如果字段只包含部分URL，则可以使用“Url 模板”将值格式化为完整的URL。 格式使用双大括号<code ng-non-bindable>{{ }}</code>记号接受字符串来注入值，可以接受以下类似的值：
    </p>

    <ul>
      <li>
        <strong>value</strong> &mdash; uri转义值
      </li>
      <li>
        <strong>rawValue</strong> &mdash; 未转义值
      </li>
    </ul>

    <table class="table table-striped table-bordered">
      <caption>范例</caption>
      <thead>
        <tr>
          <th>值</th>
          <th>模板</th>
          <th>结果</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1234</td>
          <td ng-non-bindable>http://company.net/profiles?user_id={{value}}</td>
          <td>http://company.net/profiles?user_id=1234</td>
        </tr>
        <tr>
          <td>users/admin</td>
          <td ng-non-bindable>http://company.net/groups?id={{value}}</td>
          <td>http://company.net/groups?id=users%2Fadmin</td>
        </tr>
        <tr>
          <td>/images/favicon.ico</td>
          <td ng-non-bindable>http://www.site.com{{rawValue}}</td>
          <td>http://www.site.com/images/favicon.ico</td>
        </tr>
      </tbody>
    </table>
  </div>

  <input ng-model="editor.formatParams.urlTemplate" class="form-control">
</div>

<div class="form-group">
  <span class="pull-right text-info hintbox-label" ng-click="editor.showLabelTmplHelp = !editor.showLabelTmplHelp">
    <i class="fa fa-info"></i> 标签模板说明
  </span>

  <label>标签模板</label>
  <div class="hintbox" ng-if="editor.showLabelTmplHelp">
    <h4 class="hintbox-heading">
      <i class="fa fa-question-circle text-info"></i> 标签模板说明
    </h4>

    <p>
      如果字段中的url很大，则可能需要为url的文本版本提供备用模板。 这将使用标签代替url显示，但仍然链接到url。 格式使用双大括号<code ng-non-bindable>{{ }}</code>记号接受字符串来注入值，可以接受以下类似的值：
    </p>

    <ul>
      <li>
        <strong>value</strong> &mdash; 字段值
      </li>
      <li>
        <strong>url</strong> &mdash; 格式化的url
      </li>
    </ul>

    <table class="table table-striped table-bordered">
      <caption>范例</caption>
      <thead>
        <tr>
          <th>值</th>
          <th>Url模板</th>
          <th>标签模板</th>
          <th>结果</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1234</td>
          <td ng-non-bindable>http://company.net/profiles?user_id={{value}}</td>
          <td ng-non-bindable>User #{{value}}</td>
          <td>
            <a href="http://company.net/profiles?user_id=1234">User #1234</a>
          </td>
        </tr>
        <tr>
          <td>/assets/main.css</td>
          <td ng-non-bindable>http://site.com{{rawValue}}</td>
          <td>View Asset</td>
          <td>
            <a href="http://site.com/assets/main.css">View Asset</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <input ng-model="editor.formatParams.labelTemplate" class="form-control">
</div>

<field-format-editor-samples inputs="url.samples[editor.formatParams.type]"></field-format-editor-samples>
