<div class="localDropdownPanels">
  <!-- Left panel -->
  <div class="localDropdownPanel localDropdownPanel--left">
    <!-- Title -->
    <div
      data-test-subj="shareUiTitle"
      class="localDropdownTitle"
    >
      分享保存的 {{share.objectType}}
    </div>

    <!-- Help text -->
    <div ng-if="share.urls.original" class="localDropdownHelpText">
      你可以分享这个URL给其他人，让他们加载最新保存的{{share.objectType}}版本.
    </div>

    <div ng-if="!share.urls.original" class="localDropdownWarning">
      请保存此 {{share.objectType}} 以启动这个共享选项.
    </div>

    <div ng-if="share.urls.original">
      <!-- iframe -->
      <div class="localDropdownSection" ng-if="share.allowEmbed">
        <!-- Header -->
        <div class="localDropdownHeader">
          <div class="localDropdownHeader__label">
            嵌入框架
          </div>
          <div class="localDropdownHeader__actions">
            <a
              class="localDropdownHeader__action"
              ng-click="share.copyToClipboard('#originalIframeUrl')"
            >
              复制
            </a>
          </div>
        </div>

        <!-- Input -->
        <input
          id="originalIframeUrl"
          class="localDropdownInput"
          type="text"
          readonly
          value="{{share.makeIframeTag(share.urls.original)}}"
        />

        <!-- Notes -->
        <div class="localDropdownFormNote">
          嵌入你的ＨＴＭＬ代码.注意不是所有客户端都必须访问主页.
        </div>
      </div>

      <!-- Link -->
      <div class="localDropdownSection">
        <!-- Header -->
        <div class="localDropdownHeader">
          <div class="localDropdownHeader__label">
            链接
          </div>
          <div class="localDropdownHeader__actions">
            <a
              class="localDropdownHeader__action"
              ng-click="share.copyToClipboard('#originalUrl')"
            >
              复制
            </a>
          </div>
        </div>

        <!-- Input -->
        <input
          id="originalUrl"
          class="localDropdownInput"
          type="text"
          readonly
          value="{{share.urls.original}}"
        />
      </div>
    </div>
  </div>

  <!-- Right panel -->
  <div class="localDropdownPanel localDropdownPanel--right">
    <!-- Title -->
    <div class="localDropdownTitle">
      分享快照
    </div>

    <!-- Help text -->
    <div class="localDropdownHelpText">
      快照网址会对网址本身中的“{{share.objectType}}”的当前状态编码.对已经保存的“{{share.objectType}}”修改编辑，将不会通过此网址显示.
    </div>

    <!-- iframe -->
    <div class="localDropdownSection" ng-if="share.allowEmbed">
      <!-- Header -->
      <div class="localDropdownHeader">
        <div class="localDropdownHeader__label">
          嵌入框架
        </div>
        <div class="localDropdownHeader__actions">
          <a
            class="localDropdownHeader__action"
            ng-if="!share.urlFlags.shortSnapshotIframe"
            ng-click="share.toggleShortSnapshotIframeUrl()"
          >
            短URL
          </a>

          <a
            class="localDropdownHeader__action"
            ng-if="share.urlFlags.shortSnapshotIframe"
            ng-click="share.toggleShortSnapshotIframeUrl()"
          >
            长 URL
          </a>

          <a
            class="localDropdownHeader__action"
            ng-click="share.copyToClipboard('#snapshotIframeUrl')"
          >
            复制
          </a>
        </div>
      </div>

      <!-- Input -->
      <input
        id="snapshotIframeUrl"
        class="localDropdownInput"
        type="text"
        readonly
        value="{{share.urlFlags.shortSnapshotIframe ? share.makeIframeTag(share.urls.shortSnapshotIframe) : share.makeIframeTag(share.urls.snapshot)}}"
      />

      <!-- Notes -->
      <div class="localDropdownFormNote">
        加入到你的HTML代码中，注意不是所有的客户端都必须要访问主页面.
      </div>
    </div>

    <!-- Link -->
    <div class="localDropdownSection">
      <!-- Header -->
      <div class="localDropdownHeader">
        <div class="localDropdownHeader__label">
          链接
        </div>
        <div class="localDropdownHeader__actions">
          <a
            data-test-subj="sharedSnapshotShortUrlButton"
            class="localDropdownHeader__action"
            ng-if="!share.urlFlags.shortSnapshot"
            ng-click="share.toggleShortSnapshotUrl()"
          >
            短 URL
          </a>

          <a
            class="localDropdownHeader__action"
            ng-if="share.urlFlags.shortSnapshot"
            ng-click="share.toggleShortSnapshotUrl()"
          >
            长 URL
          </a>

          <a
            data-test-subj="sharedSnapshotCopyButton"
            class="localDropdownHeader__action"
            ng-click="share.copyToClipboard('#snapshotUrl')"
          >
            复制
          </a>
        </div>
      </div>

      <!-- Input -->
      <input
        data-test-subj="sharedSnapshotUrl"
        id="snapshotUrl"
        class="localDropdownInput"
        type="text"
        readonly
        value="{{share.urlFlags.shortSnapshot ? share.urls.shortSnapshot : share.urls.snapshot}}"
      />

      <!-- Notes -->
      <div class="localDropdownFormNote">
        为了保证最大兼容性，我们推荐分享缩短的快照URLs.IE浏览器有URL长度限制,一些维基和标记解析器不能很好的支持完全长度的版本的快照URL,但是短的URL可以支持的很好.
      </div>
    </div>
  </div>
</div>
